{% extends "core/base.html" %}
{% load static %}

{% block title %}User Dashboard{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'subscription/css/dashboard.css' %}">
{% endblock %}


{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h1>Welcome, {{ user.username }}</h1>

<ul class="nav nav-tabs" id="userTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link " id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="subscription-tab" data-bs-toggle="tab" href="#subscription" role="tab" aria-controls="subscription" aria-selected="false">Subscription</a>
  </li>
</ul>

<div class="tab-content" id="userTabsContent">
  <!-- Dashboard Tab -->
  <div class="tab-pane fade " id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <h2>Dashboard</h2>
    <p>Here you can manage your subscriptions and view your data.</p>
    <div>

    
    {% if subscription_plan %}
    <p>Your current subscription plan is: <span class="my-plan">{{ subscription_plan }}</span></p>
      {% else %}
          <p>You do not have an active subscription.</p>
      {% endif %}
    </div>
  </div>
  
  <!-- Profile Tab -->
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
 

    {% include "profile.html" %}

  </div>
  
  <!-- Subscription Tab -->
  <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="subscription-tab">

    <h2>Create Subscription</h2>
    <form id="subscription-form" method="post" action="{% url 'dashboard' %}" >

      {% csrf_token %}
      {{ form }}
 
      <button id="stripe-button" type="submit" >Pay with Stripe</button>
      <button id="subscribe-button" type="submit" style="display:none;">Subscribe</button>
      <h1>"{{ stripe_session_id }}"</h1>
      <h1>"{{ sessionId}}"</h1>
      <div>Debug: Stripe Session ID is {{ stripe_session_id }}</div>


      {% if subscription_plan == "Free" %}
      <!-- Display Upgrade button -->
      <button id="upgrade-button" type="submit">Upgrade</button>
      {% elif subscription_plan == "Premium" %}
          <!-- Display Downgrade button -->
          <button id="downgrade-button" type="submit">Downgrade</button>
      {% endif %}


    </form>
 
  </div>

 
  <script>
    // Wait for the entire page to load before executing the code
    window.addEventListener('load', function() {
      // Dynamically load Stripe.js
      var script = document.createElement('script');
      script.src = "https://js.stripe.com/v3/";
      document.head.appendChild(script);
    
      // Initialize Stripe only after Stripe.js is loaded
      script.onload = function() {
        // Initialize Stripe
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        // Log the session ID for debugging
        var sessionId = "{{ stripe_session_id }}"; 
        // console.log("Session ID:", sessionId);

        
    
        const form = document.getElementById("subscription-form");
    const upgradeButton = document.getElementById("upgrade-button");
    const downgradeButton = document.getElementById("downgrade-button");
    const stripeButton = document.getElementById("stripe-button");

    form.addEventListener("change", function() {
        const planSelected = form.elements["stripe_plan_id"].value;

        if (planSelected === "price_1NmG4RCOAyay7VTLPcRACV7i") { // Premium Plan
            if (subscription_plan === "Free") {
                upgradeButton.style.display = "inline";
                downgradeButton.style.display = "none";
            } else {
                stripeButton.style.display = "inline"; // or any other logic you have for premium users
            }
        } else { // Free Plan
            if (subscription_plan === "Premium") {
                downgradeButton.style.display = "inline";
                upgradeButton.style.display = "none";
            } else {
                stripeButton.style.display = "none"; // or any other logic you have for free users
            }
        }
    });
    
        // Stripe button click event
        stripeButton.addEventListener("click", function (event) {
          console.log("Stripe button clicked");
          var selectedPlan = document.querySelector('input[name="stripe_plan_id"]:checked').value;
          if (selectedPlan === 'price_1NmG4RCOAyay7VTLPcRACV7i') {
            console.log("ABC" + sessionId);
            if (sessionId) {
              console.log("Form submitting...");
              stripe.redirectToCheckout({
                sessionId: sessionId
              }).then(function (result) {
                if (result.error) {
                  alert(result.error.message);
                }
              });
            } else {
              alert("An error occurred. Please try again.");
            }
          } else {
            form.submit();  // Submit the form for the free plan
          }
        });
      }; // End of script.onload



//       document.getElementById("subscription-form").addEventListener("submit", function(e) {
//     e.preventDefault();
//     this.submit();
//     // location.reload(true);  // Force a reload from the server
// });

    }); // End of window.addEventListener
    </script>
    

    
{% endblock %}


{% block extra_js %}

{% endblock %}