{% extends "core/base.html" %}
{% load static %}

{% block title %}User Dashboard{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'subscription/css/dashboard.css' %}">
{% endblock %}


{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h1>Welcome, {{ user.username }}</h1>

<ul class="nav nav-tabs" id="userTabs" role="tablist">
  <!-- <li class="nav-item" role="presentation">
    <a class="nav-link " id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
  </li> -->
  <li class="nav-item" role="presentation">
    <a class="nav-link " id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="subscription-tab" data-bs-toggle="tab" href="#subscription" role="tab" aria-controls="subscription" aria-selected="false">Subscription</a>
  </li>
</ul>

<div class="tab-content" id="userTabsContent">
  <!-- Dashboard Tab -->
  <!-- <div class="tab-pane fade " id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <h2>Dashboard</h2>
    <p>Here you can manage your subscriptions and view your data.</p>
    <div>

    
    {% if subscription_plan %}
    <p>Your current subscription plan is: <span class="my-plan">{{ subscription_plan }}</span></p>
      {% else %}
          <p>You do not have an active subscription.</p>
      {% endif %}
    </div>
  </div> -->
  
  <!-- Profile Tab -->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
 

    {% include "pane-profile.html" %}

  </div>
  
  <!-- Subscription Tab -->
  <div class="tab-pane fade  show active" id="subscription" role="tabpanel" aria-labelledby="subscription-tab">
    <!-- <h2>Manage Subscription</h2> -->
    {% include "pane-subscription.html" %}
    <!--
    <div>Stripe Session ID: {{ stripe_session_id }}</div>

    {% if subscription_plan == 'Free' %}
      <form action="{% url 'upgrade_subscription' %}" method="post">
        {% csrf_token %}
        <button type="submit" id="stripe-button">Upgrade to Premium</button>
      </form>
    {% elif subscription_plan == 'Premium' %}
      <form action="{% url 'downgrade_subscription' %}" method="post">
        {% csrf_token %}
        <button type="submit">Downgrade to Free</button>
      </form>
    {% endif %} -->
  </div>
</div>

 
<!-- <script>
  // Dynamically load Stripe.js
  var script = document.createElement('script');
  script.src = "https://js.stripe.com/v3/";
  document.head.appendChild(script);

  // Initialize Stripe only after Stripe.js is loaded
  script.onload = function() {
      var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
      var sessionId = "{{ stripe_session_id }}";
      var stripeButton = document.getElementById("stripe-button");

      // Stripe button click event
      stripeButton.addEventListener("click", function(event) {
          if (sessionId) {
              stripe.redirectToCheckout({
                  sessionId: sessionId
              }).then(function(result) {
                  if (result.error) {
                      alert(result.error.message);
                  }
              });
          } else {
              alert("An error occurred. Please try again.");
          }
      });
  };
</script> -->

    

    
{% endblock %}


{% block extra_js %}

{% endblock %}